# Handle line endings automatically for text files
* text=auto

# Explicitly declare which files should always be CRLF (Windows)
*.cs text eol=crlf
*.unity text eol=crlf
*.prefab text eol=crlf

# Denote all files that are truly binary and should not be modified
*.gif filter=lfs diff=lfs merge=lfs binary
*.png filter=lfs diff=lfs merge=lfs binary
*.tga filter=lfs diff=lfs merge=lfs binary
*.ogg filter=lfs diff=lfs merge=lfs binary
*.exr filter=lfs diff=lfs merge=lfs binary
*.jpeg filter=lfs diff=lfs merge=lfs binary
*.psd filter=lfs diff=lfs merge=lfs binary
*.tiff filter=lfs diff=lfs merge=lfs binary
*.bmp filter=lfs diff=lfs merge=lfs binary
*.mp3 filter=lfs diff=lfs merge=lfs binary
*.wav filter=lfs diff=lfs merge=lfs binary
*.fbx filter=lfs diff=lfs merge=lfs binary
*.FBX filter=lfs diff=lfs merge=lfs binary
*.aiff filter=lfs diff=lfs merge=lfs binary
*.unitypackage filter=lfs diff=lfs merge=lfs binary
*.jpg filter=lfs diff=lfs merge=lfs binary
*.asset binary
